{% extends 'base.html' %}
{% block content %}
    {% block navigation %}
        <div class="container-fluid">
        <div class="row ">
        <div class="col-lg-3">
        <div class="panel panel-default panel-primary">
        <div class="panel-heading">Керування</div>
        <ul class="list-group">
            <li class="list-group-item"><a href="#">Заміни</a></li>
            <li class="list-group-item"><a href="#">Розклад</a></li>
            <li class="list-group-item"><a href="{{ url_for('admin_lecturer') }}">Викладачі</a></li>
            <li class="list-group-item"><a href="{{ url_for('admin_subject') }}">Предмети</a></li>
            <li class="list-group-item"><a href="{{ url_for('admin_group') }}">Групи</a></li>
            <li class="list-group-item"><a href="{{ url_for('admin_specialty') }}"> Спеціальності</a></li>
        </ul>
    {% endblock %}
</div>
</div>
<div class="col-lg-9">
    {% block container %}
    {% endblock %}
</div>
</div>
</div>
{% endblock %}