{% extends 'admin.html' %}
{% from 'marcos.html' import render_field %}
{% block container %}
    <div class="panel panel-primary">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width: 40%" class="text-center">Група</th>
                <th style="width: 40%" class="text-center">День тижня</th>
                <th style="width: 20%" class="text-center"></th>

            </tr>
            </thead>
            <tbody>
            {#            Додавання нового            #}
            <tr>
                <form method="post" action="{{ url_for('admin_timetable') }}">
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}

                    <td>{{ render_field(form.group,False,class='chosen') }}</td>
                    <td>{{ render_field(form.day,False,class='chosen') }}</td>
                    <td colspan='2'>
                        <div class="form-group">
                            <button type="submit"
                                    class="btn btn-slim btn-primary btn-group-justified">Редагувати
                            </button>
                        </div>
                        <input type=hidden value="{{ next or '' }}" name=next>
                        <input type=hidden value="yes" name=edit>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
        {% if edit %}
            <div class="row row-centered">
                <div class="col-lg-10 col-centered">
                    <form id="form-timetable" method="post"
                          action="{{ url_for('admin_timetable',day = form.day.data,group = form.group.data) }}">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th style="width: 50%;text-align: right">Перший</th>
                                <th style="width: 50%;text-align: left">тиждень</th>
                            </tr>
                            </thead>
                            <tbody>

                            {{ edit.csrf_token }}
                            {{ edit.hidden_tag() }}
                            <tr>
                                <td style="padding:0 40px"> {{ render_field(edit.one_lesson_one,class='chosen lesson',**{'data-week':'one'}) }}</td>
                                <td style="padding:0 40px"> {{ render_field(edit.one_lesson_one_lecturer,class='chosen',**{'data-week':'one'}) }}</td>
                            </tr>
                            <tr>
                                <td style="padding:0 40px"> {{ render_field(edit.one_lesson_two,class='chosen lesson',**{'data-week':'one'}) }}</td>
                                <td style="padding:0 40px"> {{ render_field(edit.one_lesson_two_lecturer,class='chosen',**{'data-week':'one'}) }}</td>
                            </tr>
                            <tr>
                                <td style="padding:0 40px"> {{ render_field(edit.one_lesson_three,class='chosen lesson',**{'data-week':'one'}) }}</td>
                                <td style="padding:0 40px"> {{ render_field(edit.one_lesson_three_lecturer,class='chosen',**{'data-week':'one'}) }}</td>
                            </tr>
                            <tr>
                                <td style="padding:0 40px"> {{ render_field(edit.one_lesson_four,class='chosen lesson',**{'data-week':'one'}) }}</td>
                                <td style="padding:0 40px"> {{ render_field(edit.one_lesson_four_lecturer,class='chosen',**{'data-week':'one'}) }}</td>
                            </tr>
                            <tr>
                                <td style="padding:0 40px"> {{ render_field(edit.one_lesson_five,class='chosen lesson',**{'data-week':'one'}) }}</td>
                                <td style="padding:0 40px"> {{ render_field(edit.one_lesson_five_lecturer,class='chosen',**{'data-week':'one'}) }}</td>
                            </tr>
                            <tr>
                                <td style="padding:0 40px"> {{ render_field(edit.one_lesson_six,class='chosen lesson',**{'data-week':'one'}) }}</td>
                                <td style="padding:0 40px"> {{ render_field(edit.one_lesson_six_lecturer,class='chosen',**{'data-week':'one'}) }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th style="width: 50%;text-align: right">Другий</th>
                                <th style="width: 50%;text-align: left">тиждень</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="padding:0 40px"> {{ render_field(edit.two_lesson_one,class='chosen lesson',**{'data-week':'two'}) }}</td>
                                <td style="padding:0 40px"> {{ render_field(edit.two_lesson_one_lecturer,class='chosen',**{'data-week':'two'}) }}</td>
                            </tr>
                            <tr>
                                <td style="padding:0 40px"> {{ render_field(edit.two_lesson_two,class='chosen lesson',**{'data-week':'two'}) }}</td>
                                <td style="padding:0 40px"> {{ render_field(edit.two_lesson_two_lecturer,class='chosen',**{'data-week':'two'}) }}</td>
                            </tr>
                            <tr>
                                <td style="padding:0 40px"> {{ render_field(edit.two_lesson_three,class='chosen lesson',**{'data-week':'two'}) }}</td>
                                <td style="padding:0 40px"> {{ render_field(edit.two_lesson_three_lecturer,class='chosen',**{'data-week':'two'}) }}</td>
                            </tr>
                            <tr>
                                <td style="padding:0 40px"> {{ render_field(edit.two_lesson_four,class='chosen lesson',**{'data-week':'two'}) }}</td>
                                <td style="padding:0 40px"> {{ render_field(edit.two_lesson_four_lecturer,class='chosen',**{'data-week':'two'}) }}</td>
                            </tr>
                            <tr>
                                <td style="padding:0 40px"> {{ render_field(edit.two_lesson_five,class='chosen lesson',**{'data-week':'two'}) }}</td>
                                <td style="padding:0 40px"> {{ render_field(edit.two_lesson_five_lecturer,class='chosen',**{'data-week':'two'}) }}</td>
                            </tr>
                            <tr>
                                <td style="padding:0 40px"> {{ render_field(edit.two_lesson_six,class='chosen lesson',**{'data-week':'two'}) }}</td>
                                <td style="padding:0 40px"> {{ render_field(edit.two_lesson_six_lecturer,class='chosen',**{'data-week':'two'}) }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <button style="margin-top: 2em" type="submit"
                                            class="btn btn-slim btn-warning btn-group-justified">Зберегти
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}