{% extends 'admin.html' %}
{% block container %}
    <div class="panel panel-primary">

        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">ПІБ</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.last_name }} {{ item.first_name }} {{ item.middle_name }}</td>

                    <td  style="width: 10em"><a href="#"> <button class="btn-primary btn btn-slim" id="specUpdate">Редагувати</button></a></td>
                    <td  style="width: 10em"><button class="btn-primary btn btn-slim" id="specDelete" spec_id="{{ item.id }}">Видалити</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}