{% extends 'admin.html' %}
{% from 'marcos.html' import render_field %}
{% block container %}
    <div class="panel panel-primary">
        {#        <div class="panel-heading">Спеціальності</div>#}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center" style="width: 15em">Скорочена форма</th>
                <th class="text-center">Повна форма</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.short_form }}</td>
                    <td>{{ item.long_form }}</td>
                    <td><a href="{{ url_for('admin_update',what = 'specialty',id = item.id) }}">
                        <button class="btn-primary btn btn-slim">Редагувати</button>
                    </a></td>
                    <td>
                        <button class="btn-primary btn btn-slim" id="specDelete" spec_id="{{ item.id }}">Видалити
                        </button>
                    </td>
                </tr>

            {% endfor %}
            <form method="post" action="{{ url_for('admin_specialty') }}">
            <tr>
                    <input type=hidden value="{{ next or '' }}" name=next>
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}
                    <td style="border-left: 1px solid #2780E3">{{ render_field(form.short_form,False) }}</td>
                    <td>{{ render_field(form.long_form,False) }}</td>
                    <td colspan='2'>
                        <div class="form-group">{{ form.submit(value="Додати",class="btn-primary btn btn-group-justified") }}</div>
                    </td>

            </tr>
                </form>
            </tbody>
        </table>
    </div>
{% endblock %}