<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static',filename='js/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery-migrate-1.2.1.js') }}"></script>

    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment-with-locales.min.js"></script>#}

    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static',filename='js/main.js') }}"></script>

    <script src="{{ url_for('static',filename='js/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery-ui-i18n.js') }}"></script>
    <script src="{{ url_for('static',filename='js/chosen.jquery.min.js') }}"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-cosmo.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href={{ url_for('static',filename='css/jquery-ui.css') }}>
    <link rel="stylesheet" href={{ url_for('static',filename='css/jquery-ui.theme.min.css') }}>
    <link rel="stylesheet" href={{ url_for('static',filename='css/jquery-ui.structure.min.css') }}>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/chosen.bootstrap.min.css') }}">



    {% block head %}
        <title>Розклад занять ІКНІ САПР</title>
    {% endblock %}
</head>
<body>
{% block header %}
    <header></header>
    <div>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="padding: 10px;" href="{{ url_for('index') }}">
                        <img alt="Brand" style="float: left" width="30px" height="30px"
                             src="{{ url_for('static',filename='images/logo.jpg') }}">
                    </a>
                    <a class="navbar-brand" style="" href="{{ url_for('index') }}">
                        Розклад ІКНІ САПР</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <form class="navbar-form navbar-left" method="post" role="search" action="{{ url_for('search') }}">
                        <div class="form-group">
                            {{ g.search_form.hidden_tag() }}
                            {{ g.search_form.text(class="form-control") }}
                            {{ g.search_form.select(class="form-control") }}
                        </div>
                        <button type="submit" id="search" style="background: #23527c" class="btn btn-primary">Пошук
                        </button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        {% if not current_user.is_authenticated() %}
                            <li><a href="{{ url_for('login') }}">Вхід</a>
                        {% endif %}
                        {% if current_user.is_authenticated() %}
                            <li><a href="{{ url_for('admin_timetable') }}">Керування</a></li>
                            <li><a href="{{ url_for('logout') }}">Вихід</a>
                            </li>
                        {% endif %}
                        {#                        <li class="dropdown">#}
                        {#                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"#}
                        {#                               aria-expanded="false">Dropdown <span class="caret"></span></a>#}
                        {#                            <ul class="dropdown-menu" role="menu">#}
                        {#                                <li><a href="#">Action</a>#}
                        {#                                </li>#}
                        {#                                <li><a href="#">Another action</a>#}
                        {#                                </li>#}
                        {#                                <li><a href="#">Something else here</a>#}
                        {#                                </li>#}
                        {#                                <li class="divider"></li>#}
                        {#                                <li><a href="#">Separated link</a>#}
                        {#                                </li>#}
                        {#                            </ul>#}
                        {#                        </li>#}
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
{% endblock %}
{% block messages %}
    {% with messages = get_flashed_messages() %}
        <div class="col-lg-12 col-centered" style="margin: 0 auto">
            {% if messages %}
                <div class="alert btn-update alert-dismissible text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                {% for message in messages %}
                    <strong> {{ message }}</strong></br>
                {% endfor %}
            {% endif %}
            </div>
        </div>
    {% endwith %}
{% endblock %}
{% block content %}
{% endblock %}
</body>
</html>