{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row row-centered">
            <div class="col-lg-5 col-xs-12  col-md-5 col-sm-12 col-centered">
                <div class="panel panel-default panel-primary">
                    <div class="panel-heading">Перший курс</div>
                    <div class="panel-body">
                        <table class="table-responsive table-hover table-striped table-bordered">
                            <tbody>
                            {% if all_groups %}
                                {% for g in all_groups %}
                                    {% if g.group_course==1 %}
                                        <tr>
                                            <td><a title="{{ g.specialty.long_form }}"
                                                   href="{{ url_for('group_timetable',group_number=g.group_number ) }}"> {{ g.group_number }}-{{ g.specialty.short_form }}</a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>NO GROUP</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xs-12 col-md-5 col-sm-12 col-centered">
                <div class="panel panel-default panel-primary">
                    <div class="panel-heading">Другий курс</div>
                    <div class="panel-body">
                        <table class="table-responsive table-hover table-striped table-bordered">
                            <tbody>
                            {% if all_groups %}
                                {% for g in all_groups %}
                                    {% if g.group_course==2 %}
                                        <tr>
                                            <td><a title="{{ g.specialty.long_form }}"
                                                   href="{{ url_for('group_timetable',group_number=g.group_number ) }}"> {{ g.group_number }}-{{ g.specialty.short_form }}</a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>NO GROUP</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-centered">
            <div class="col-lg-5 col-xs-12 col-md-5 col-sm-12 col-centered">
                <div class="panel panel-default panel-primary">
                    <div class="panel-heading">Третій курс</div>
                    <div class="panel-body">
                        <table class="table-responsive table-hover table-striped table-bordered">
                            <tbody>
                            {% if all_groups %}
                                {% for g in all_groups %}
                                    {% if g.group_course==3 %}
                                        <tr>
                                            <td><a title="{{ g.specialty.long_form }}"
                                                   href="{{ url_for('group_timetable',group_number=g.group_number ) }}"> {{ g.group_number }}-{{ g.specialty.short_form }}</a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>NO GROUP</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xs-12 col-md-5 col-sm-12 col-centered">
                <div class="panel panel-default panel-primary">
                    <div class="panel-heading">Четвертий курс</div>
                    <div class="panel-body">
                        <table class="table-responsive table-hover table-striped table-bordered">
                            <tbody>
                            {% if all_groups %}
                                {% for g in all_groups %}
                                    {% if g.group_course==4 %}
                                        <tr>
                                            <td>
                                                <a title="{{ g.specialty.long_form }}"
                                                   href="{{ url_for('group_timetable',group_number=g.group_number ) }}"> {{ g.group_number }}-{{ g.specialty.short_form }}</a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>NO GROUP</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-centered">
            <div class="col-lg-5 col-xs-12 col-md-5 col-sm-12 col-centered">
                <div class="panel panel-default panel-primary">
                    <div class="panel-heading">Бакалаврат</div>
                    <div class="panel-body">
                        <table class="table-responsive table-hover table-striped table-bordered">
                            <tbody>
                            {% if all_groups %}
                                {% for g in all_groups %}
                                    {% if g.group_course==5 %}
                                        <tr>
                                            <td><a title="{{ g.specialty.long_form }}"
                                                   href="{{ url_for('group_timetable',group_number=g.group_number ) }}"> {{ g.group_number }}-Б{{ g.specialty.short_form }}</a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>NO GROUP</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}