{% extends "base.html" %}



{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-3  col-md-4 col-sm-6">
                <div class="panel panel-default panel-primary">
                    <div class="panel-heading">Перший курс</div>
                    <div class="panel-body">
                        <table class="table-responsive table-hover table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <td>101-ЕП</td>
                                </tr>
                                <tr>
                                    <td>103-БО</td>
                                </tr>
                                <tr>
                                    <td>104-КД</td>
                                </tr>
                                <tr>
                                    <td>105-ІДП</td>
                                </tr>
                                <tr>
                                    <td>107-РПЗ</td>
                                </tr>
                                <tr>
                                    <td>109-ПЕА</td>
                                </tr>
                                <tr>
                                    <td>110-ПЕА</td>
                                </tr>
                                <tr>
                                    <td>111-КОІ</td>
                                </tr>
                                <tr>
                                    <td>112-П</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="panel panel-default panel-primary">
                    <div class="panel-heading">Другий курс</div>
                                        <div class="panel-body">
                        <table class="table-responsive table-hover table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <td>101-ЕП</td>
                                </tr>
                                <tr>
                                    <td>103-БО</td>
                                </tr>
                                <tr>
                                    <td>104-КД</td>
                                </tr>
                                <tr>
                                    <td>105-ІДП</td>
                                </tr>
                                <tr>
                                    <td>107-РПЗ</td>
                                </tr>
                                <tr>
                                    <td>109-ПЕА</td>
                                </tr>
                                <tr>
                                    <td>110-ПЕА</td>
                                </tr>
                                <tr>
                                    <td>111-КОІ</td>
                                </tr>
                                <tr>
                                    <td>112-П</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="panel panel-default panel-primary">
                    <div class="panel-heading">Третій курс</div>
                                       <div class="panel-body">
                        <table class="table-responsive table-hover table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <td>101-ЕП</td>
                                </tr>
                                <tr>
                                    <td>103-БО</td>
                                </tr>
                                <tr>
                                    <td>104-КД</td>
                                </tr>
                                <tr>
                                    <td>105-ІДП</td>
                                </tr>
                                <tr>
                                    <td>107-РПЗ</td>
                                </tr>
                                <tr>
                                    <td>109-ПЕА</td>
                                </tr>
                                <tr>
                                    <td>110-ПЕА</td>
                                </tr>
                                <tr>
                                    <td>111-КОІ</td>
                                </tr>
                                <tr>
                                    <td>112-П</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-offset-3  col-lg-3 col-md-offset-2 col-md-4 col-sm-6">
                <div class="panel panel-default panel-primary">
                    <div class="panel-heading">Четвертий курс</div>
                                       <div class="panel-body">
                        <table class="table-responsive table-hover table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <td>101-ЕП</td>
                                </tr>
                                <tr>
                                    <td>103-БО</td>
                                </tr>
                                <tr>
                                    <td>104-КД</td>
                                </tr>
                                <tr>
                                    <td>105-ІДП</td>
                                </tr>
                                <tr>
                                    <td>107-РПЗ</td>
                                </tr>
                                <tr>
                                    <td>109-ПЕА</td>
                                </tr>
                                <tr>
                                    <td>110-ПЕА</td>
                                </tr>
                                <tr>
                                    <td>111-КОІ</td>
                                </tr>
                                <tr>
                                    <td>112-П</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="panel panel-default panel-primary">
                    <div class="panel-heading">П’ятий курс</div>
                                        <div class="panel-body">
                        <table class="table-responsive table-hover table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <td>101-ЕП</td>
                                </tr>
                                <tr>
                                    <td>103-БО</td>
                                </tr>
                                <tr>
                                    <td>104-КД</td>
                                </tr>
                                <tr>
                                    <td>105-ІДП</td>
                                </tr>
                                <tr>
                                    <td>107-РПЗ</td>
                                </tr>
                                <tr>
                                    <td>109-ПЕА</td>
                                </tr>
                                <tr>
                                    <td>110-ПЕА</td>
                                </tr>
                                <tr>
                                    <td>111-КОІ</td>
                                </tr>
                                <tr>
                                    <td>112-П</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}