{% extends "base.html" %}
{% block head %}

    <title>Розклад занять ПЕК НАУ - групи {{ group.group_number }}-{{ group.specialty.long_form }}</title>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row row-centered">
            <div class="col-lg-10 col-md-10 col-xs-12 col-sm-12 col-centered">
                <table class="table-responsive table-condensed table-bordered table table-primary">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th></th>
                        <th>Понеділок</th>
                        <th>Вівторок</th>
                        <th>Середа</th>
                        <th>Четвер</th>
                        <th>П’ятниця</th>
                        <th>Субота</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>8:30 <br>|<br> 09:50</td>
                        {% if group.monday %}
                            <td>{{ group.monday[0].subject_one.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if group.tuesday %}
                            <td>{{ group.tuesday[0].subject_one.name }} </br>
                                <small><strong>{{ group.tuesday[0].subject_one.lecturer.last_name }}
                                {{ group.tuesday[0].subject_one.lecturer.first_name[0] }}.
                                {{ group.tuesday[0].subject_one.lecturer.middle_name[0] }}. </strong></small> </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if group.wednesday %}
                            <td>{{ group.wednesday[0].subject_one.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if group.thursday %}
                            <td>{{ group.thursday[0].subject_one.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if group.friday %}
                            <td>{{ group.friday[0].subject_one.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if group.saturday %}
                            <td>{{ group.saturday[0].subject_one.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>10:00 <br>|<br> 11:20</td>
                        {% if group.monday %}
                            <td>{{ group.monday[0].subject_two.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if group.tuesday %}
                            <td>{{ group.tuesday[0].subject_two.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if group.wednesday %}
                            <td>{{ group.wednesday[0].subject_two.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if group.thursday %}
                            <td>{{ group.thursday[0].subject_two.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if group.friday %}
                            <td>{{ group.friday[0].subject_two.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if group.saturday %}
                            <td>{{ group.saturday[0].subject_two.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>11:50 <br>|<br> 13:10</td>
                        {% if group.monday %}
                            <td>{{ group.monday[0].subject_three.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if group.tuesday %}
                            <td>{{ group.tuesday[0].subject_three.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if group.wednesday %}
                            <td>{{ group.wednesday[0].subject_three.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if group.thursday %}
                            <td>{{ group.thursday[0].subject_three.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if group.friday %}
                            <td>{{ group.friday[0].subject_three.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if group.saturday %}
                            <td>{{ group.saturday[0].subject_three.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>13:20 <br>|<br> 14:40</td>
                        {% if group.monday %}
                            <td>{{ group.monday[0].subject_four.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if group.tuesday %}
                            <td>{{ group.tuesday[0].subject_four.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if group.wednesday %}
                            <td>{{ group.wednesday[0].subject_four.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if group.thursday %}
                            <td>{{ group.thursday[0].subject_four.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if group.friday %}
                            <td>{{ group.friday[0].subject_four.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if group.saturday %}
                            <td>{{ group.saturday[0].subject_four.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>14:50 <br>|<br> 16:10</td>
                        {% if group.monday %}
                            <td>{{ group.monday[0].subject_five.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if group.tuesday %}
                            <td>{{ group.tuesday[0].subject_five.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if group.wednesday %}
                            <td>{{ group.wednesday[0].subject_five.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if group.thursday %}
                            <td>{{ group.thursday[0].subject_five.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if group.friday %}
                            <td>{{ group.friday[0].subject_five.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if group.saturday %}
                            <td>{{ group.saturday[0].subject_five.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}