{% extends "base.html" %}
{% import 'timetable_marcos.html' as macros with context%}
{% block head %}

    <title>Розклад занять ПЕК НАУ - групи {{ group.group_number }}-{{ group.specialty.long_form }}</title>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row row-centered">
            <div class="col-lg-10 col-md-10 col-xs-12 col-sm-12 col-centered">
                <ul class="nav nav-pills nav-justified" style="margin-bottom: 10px;">
                    <li role="presentation" {% if week==1 %} class="active" {% endif %}><a
                            href="{{ url_for('group_timetable',group_number=group.group_number,week='1') }}">Перший
                        тиждень</a></li>
                    <li role="presentation" {% if week==2 %} class="active" {% endif %}><a
                            href="{{ url_for('group_timetable',group_number=group.group_number,week='2') }}">Другий
                        тиждень</a></li>
                </ul>
            </div>
            <div class="col-lg-10 col-md-10 col-xs-12 col-sm-12 col-centered">
                <table class="table-responsive table-condensed table-bordered table table-primary">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th></th>
                        <th>Понеділок</th>
                        <th>Вівторок</th>
                        <th>Середа</th>
                        <th>Четвер</th>
                        <th>П’ятниця</th>
                        <th>Субота</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for num in range(6) %}
                    <tr>

                        {{ macros.table(num) }}

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}