/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media (min-width: @screen-sx-min) {

}
/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 920px) {
 #bs-example-navbar-collapse-1{
    margin-left: 30%!important;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1030px) {
     #bs-example-navbar-collapse-1{
    margin-left: 38%!important;
    }
}

table {
    text-align: center;
    width: 100%;
}

td {
    padding: 0.3em;
}

.panel-heading {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

.row-centered {
    text-align: center;
}

.table-bordered thead {
    background-color: #2780E3;
    color: #ffffff;
}

.table-bordered thead button:hover{
    background-color: #2780E3;
    color: #ffffff;
}
.bootstrap-datetimepicker-widget thead {
    background: #ffffff!important;
    color: #000;

}
.table thead th {
    text-align: center;
    border: none !important;
}

.table tbody tr td {
    vertical-align: middle;
}

.table-primary thead tr th:first-child {
    vertical-align: middle;
    min-width: 2em;
}

.table-primary thead tr th {
    vertical-align: middle;
    min-width: 5em;
}
.btn-update{
    background-color: #27afe3;
    color: #ffffff;

}
.btn-slim{
    padding: 0.5em!important;
}
.ch-error {
    border: 1px solid red;
}
